.App-logo {
  height: 50px;
}

.widget-container {
  height: 500px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.rv-discrete-color-legend-item__color {
  height: 10px !important;
}